{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>About Us | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->


        <!--site-main start-->
        <div class="site-main">

            <!-- aboutus-section -->
            <section class="ttm-row aboutus-section clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-6">
                            <!-- section title -->
                            <div class="section-title with-desc clearfix">
                                <div class="title-header">
                                    <h5>About us</h5>
                                    <h2 class="title">IT Solutions with over 5 years of <span>experience</span></h2>
                                </div>
                                <div class="title-desc">
                                    <p>BluWire Integrated Services distinguishes itself through its commitment to impart outstanding IT Training, and Consulting Services to individual and corporate clients. Founded in 2020 in Kuje, BluWire now operates with its HQ in 24 IT Igbani Street Jabi, Abuja, Nigeria. With over 2 plus years of training expertise, BluWire has provided high-quality, high-value IT Training to hundreds of individuals and supported them to find the right job and achieve their career goals.The company is growing exponentially and plans to open new branch offices</p>
                                    <p>We provides services like, Mobile app development, CMSs, Certification courses, computer courses, professional courses, IT professional courses, IT courses in nigeria, IT training courses, Information Technology certifications, Web design, software development, also work one-on-one with Software Company, ICT School and Corporate Training Company, Digital Services, Social Media Marketers, IT Company, Web Application Design and Development, Revenue Automation, Enterprise Solutions, Software Engineering, developer,  in Nigeria</p>
                                    <P>Let us know what are your needs and we promise to surpass your expectations without hurting your budget!</P>
                                </div>
                            </div><!-- section title end -->
                            <!-- row -->
                            <div class="row no-gutters mt-35 mb-25">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Customers define our success</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Strong management & technical team</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"> 5+ years of Industry experience</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">We offer a complete value chain</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Best quality Products & Services</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">We provide customize trainings</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">We support certification</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">We provide flexible classes</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">We focus on hands on labs</span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Business Strategy Implementation</span></li>
                                    </ul>
                                </div>
                            </div><!-- row END-->
                            <p class="mb-0">High-tech industries play an important role in the modern economy, and often experience significantly higher pay than other industries. And Digital solutions have transformed the world’s for web applications.</p>
                             <div class="row no-gutters mt-35 mb-25">
                                 <h4>Our Most Recent Solutions</h4>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><b>Bulgys</b></span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><b>1Community</b></span></li>

                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><b>RefuseExpress</b></span></li>
                                        <li><i class="fa fa-check-square-o ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"><b>InstaCrime</b></span></li>

                                    </ul>
                                </div>
                            </div><!-- row END-->
                            <a href="{% url 'more' %}" class="ttm-btn-shape-round ttm-btn ttm-btn-bgcolor-skincolor ttm-btn-size-md mt-35">More About Us</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative res-991-mt-30">
                                <!-- ttm_single_image-wrapper -->
                                <div class="ttm_single_image-wrapper text-sm-center">
                                    <img class="img-fluid" src="{% static 'images/it-services.jpg' %}" title="About Us" alt="About Us">
                                </div><!-- ttm_single_image-wrapper end -->
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
            </section>
            <!-- aboutus-section end -->

            <!-- about-us-section -->
            <section class="ttm-row zero-padding-section ttm-bgcolor-white clearfix">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="ttm-bgcolor-grey ttm-bg ttm-col-bgcolor-yes ttm-left-span spacing-7 position-relative z-1">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                    <div class="ttm-bg-layer-inner"></div>
                                </div>
                                <div class="layer-content">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- ttm_single_image-wrapper -->
                                            <div class="ttm_single_image-wrapper">
                                                <img class="img-fluid" src="{% static 'images/it-service.jpg' %}" title="IT Services" alt="IT Services">
                                            </div><!-- ttm_single_image-wrapper end -->
                                            <div class="about-overlay-02">
                                                <h3>05+ Years of</h3>
                                                <p>IT Business Experience</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="res-991-mt-30">
                                                <!-- section title -->
                                                <div class="section-title with-desc clearfix">
                                                    <div class="title-header">
                                                        <h5>About BluWire</h5>
                                                        <h2 class="title">We deal with the aspects of professional <span>IT Services</span></h2>
                                                    </div>
                                                    <div class="title-desc">
                                                        <p>We listen. We advise. We design, together. Happy customers and ongoing relationships are what we strive for. Success is measured by results, the most important being how our clients feel about their experience with us.</p>
                                                    </div>
                                                </div><!-- section title end -->
                                                <div class="mt-30">
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="90%">
                                                        <div class="progress-bar-title">UI/UX Design</div><!-- progress-bar-title -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="80%">
                                                        <div class="progress-bar-title">Web, Mobile & Software Development</div><!-- progress-bar-TITLE -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_blue"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="90%">
                                                        <div class="progress-bar-title">Cyber Security</div><!-- progress-bar-title -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_green"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="80%">
                                                        <div class="progress-bar-title">Solutions</div><!-- progress-bar-TITLE -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_turquoise"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <!-- progress-bar -->
                                                    <div class="ttm-progress-bar" data-percent="90%">
                                                        <div class="progress-bar-title">Corporate & School Training</div><!-- progress-bar-TITLE -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_yellow"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-PERCENT -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                    <div class="ttm-progress-bar" data-percent="90%">
                                                        <div class="progress-bar-title">Content Creation</div><!-- progress-bar-TITLE -->
                                                        <div class="progress-bar-inner">
                                                            <div class="progress-bar progress-bar-color-bar_red"></div>
                                                        </div>
                                                        <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-PERCENT -->
                                                    </div>
                                                    <!-- progress-bar END -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-us-section -->

            <!-- fid-section -->
            <section class="ttm-row fid-section ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes bg-img10 mt_225 res-991-mt-0 clearfix">
                <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon-complete"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span class="data-appear-animation animateDigits"
                                                data-from             = "0"
                                                data-to               = "458"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >342+
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Completed Projects</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon-review"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span class="data-appear-animation animateDigits"
                                                data-from             = "0"
                                                data-to               = "954"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >478+
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Happy Clients</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon-electronics"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span class="data-appear-animation animateDigits"
                                                data-from             = "0"
                                                data-to               = "897"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >82+
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Services Provider</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--  ttm-icon -->
                            <div class="ttm-fid inside ttm-fid-view-topicon">
                                <div class="ttm-fid-icon-wrapper">
                                    <div class="ttm-icon ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-lg">
                                        <i class="flaticon-monitor-screen"></i><!--  ttm-icon -->
                                    </div>
                                </div>
                                <div class="ttm-fid-contents"><!--  ttm-fid-contents -->
                                    <h4><span class="data-appear-animation animateDigits"
                                                data-from             = "0"
                                                data-to               = "785"
                                                data-interval         = "5"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >785
                                        </span>
                                    </h4>
                                    <h3 class="ttm-fid-title">Designs</h3><!--  ttm-fid-title -->
                                </div><!-- ttm-fid-contents end -->
                            </div>
                        </div>
                    </div>
                    <!-- row end-->
                </div>
            </section>
            <!-- fid-section end -->

            <!-- testimonial-section end -->
            <section class="ttm-row only-testimonial-section bg-img11 clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-12">
                            <!-- section title -->
                            <div class="section-title with-desc text-center clearfix">
                                <div class="title-header">
                                    <h5>Recent Projects</h5>
                                    <h2 class="title">Check out our work <span>Process</span></h2>
                                </div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                    <div class="row"><!-- row -->
                        <div class="col-md-8 offset-md-2">
                            <div class="testimonial-slide style1 owl-carousel pt-0" data-item="1" data-nav="false" data-dots="false" data-auto="true">
                                <!-- testimonials -->
                                <div class="testimonials text-center">
                                    <div class="testimonial-content"><!-- testimonials-content -->
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img"><!-- testimonials-img -->
                                                <img class="img-center" src="{% static 'images/testimonial/04.jpeg' %}" alt="testimonial-img">
                                            </div>
                                        </div>
                                        <blockquote>Totally worth the 5 stars! I have been using their services for almost 6 months without any problems or any issue with my computer. Customer service team is really polite. All the people I spoke with were very nice and patient with me.</blockquote>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="testimonial-caption"><!-- testimonials-caption -->
                                                <h6>John Cathrine</h6>
                                            </div>
                                    </div>
                                </div>
                                <!-- testimonials END -->
                                <!-- testimonials -->
                                <div class="testimonials text-center">
                                    <div class="testimonial-content"><!-- testimonials-content -->
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img"><!-- testimonials-img -->
                                                <img class="img-center" src="{% static 'images/testimonial/05.jpeg' %}" alt="testimonial-img">
                                            </div>
                                        </div>
                                        <blockquote>The website has been working amazingly well since you've gotten it fixed. Amazing and fast service.</blockquote>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="testimonial-caption"><!-- testimonials-caption -->
                                                <h6>Linda Okoro</h6>

                                            </div>
                                    </div>
                                </div>
                                <!-- testimonials END -->
                                <!-- testimonials -->
                                <div class="testimonials text-center">
                                    <div class="testimonial-content"><!-- testimonials-content -->
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img"><!-- testimonials-img -->
                                                <img class="img-center" src="{% static 'images/testimonial/01.jpg' %}" alt="testimonial-img">
                                            </div>
                                        </div>
                                        <blockquote>I have been one happy customer for over a year now. Always had a good experience while dealing with these guys. They sure do know what they are doing.</blockquote>
                                            <div class="ttm-ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="testimonial-caption"><!-- testimonials-caption -->
                                                <h6>Esther Williamson</h6>

                                            </div>
                                    </div>
                                </div>
                                <!-- testimonials END -->
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!-- testimonial-section end -->
            <br>
            <br>
             <!-- our-partner-section -->
            <div class="ttm-row our-partner-section ttm-bgcolor-skincolor mt_90 res-991-mt-0 clearfix">
                <div class="container">
                    <!-- section title -->
                            <div class="section-title text-center with-desc clearfix">
                                <div class="title-header">
                                    <h5>Look Who We Have As Our Partners</h5>
                                    <h2 class="title">Check out our <span>Partners</span></h2>
                                    <p>Below is a list of selected Partners who work with BluWire Integrated Services:</p>
                                </div>
                            </div><!-- section title end -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- ttm-client -->
                            <div class="clients-slide owl-carousel owl-theme owl-loaded" data-item="5" data-nav="false" data-dots="false" data-auto="false">
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Silex Secure Lab">
                                            <img class="img-fluid" src="{% static 'images/client/silex.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Google">
                                            <img class="img-fluid" src="{% static 'images/client/google.jpg' %}" alt="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Flutter Wave">
                                            <img class="img-fluid" src="{% static 'images/client/rave.jpg' %}" alt="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Paystack">
                                            <img class="img-fluid" src="{% static 'images/client/paystack.jpg' %}" alt="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="client-05">
                                            <img class="img-fluid" src="{% static 'images/client/client-05.png' %}" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ttm-client end -->
                        </div>
                    </div>
                </div>
            </div>
             <!-- our-partner-section END-->

            <!-- our-partner-section -->
            <div class="ttm-row our-partner-section ttm-bgcolor-skincolor mt_90 res-991-mt-0 clearfix">
                <div class="container">
                    <div class="col-md-12">
                            <!-- section title -->
                            <div class="section-title text-center with-desc clearfix">
                                <div class="title-header">
                                    <h5>Look At Our Clients</h5>
                                    <h2 class="title">Check out our <span>Clients</span></h2>
                                    <p>Below is a list of selected clients who work with BluWire Integrated Services:</p>
                                </div>
                            </div><!-- section title end -->
                        </div>
                        <div class="col-md-12">
                            <!-- ttm-client -->
                            <div class="clients-slide owl-carousel owl-theme owl-loaded" data-item="5" data-nav="false" data-dots="false" data-auto="false">
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Penthills">
                                            <a href="https://www.penthills.org" target="_blank"><img class="img-fluid" src="{% static 'images/client/penthills.png' %}" alt="image"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="El-Palazzo">
                                            <a href="https://www.el-palazzo.com" target="_blank"><img class="img-fluid" src="{% static 'images/client/el-pala.png' %}" alt="image"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Gold Multiplier Club">
                                            <a href="https://www.gmcvip.org" target="_blank"><img class="img-fluid" src="{% static 'images/client/gmc.png' %}" alt="image"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="KingsleyOdume">
                                            <a href="https://www.kingsleyodume.com" target="_blank"><img class="img-fluid" src="{% static 'images/client/KingsleyOdume.png' %}" alt="image"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="GMC Stores">
                                            <a href="https://www.gmcstores.com" target="_blank"><img class="img-fluid" src="{% static 'images/client/gmcstores.jpg' %}" alt="image"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Auxilium Realities">
                                            <a href="https://www.auxiliumrealties.com" target="_blank"><img class="img-fluid" src="{% static 'images/client/aux.png' %}" alt="image"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-box ttm-box-view-boxed-logo">
                                    <div class="client">
                                        <div class="ttm-client-logo-tooltip" data-tooltip="Discourse Nigeria">
                                            <a href="https://www.discoursenigeria.com" target="_blank"><img class="img-fluid" src="{% static 'images/client/dis.png' %}" alt="image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ttm-client end -->
                        </div>
                    </div>
                </div>
            </div>
             <!-- our-partner-section END-->

            <!-- blog-section end -->
            <!-- team-section -->
            <section class="ttm-row team-section clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-9 col-xl-10 col-md-9">
                            <!-- section-title -->
                            <div class="section-title style2 clearfix">
                                <div class="title-header">
                                    <h5>About us</h5>
                                    <h2 class="title">Meet our <span>Team of Professionals</span></h2>
                                </div>
                                <div class="title-desc">The positive distinction within the World Inspiring of Success and Connections of People and Organizations.</div>
                            </div><!-- section-title end -->
                        </div>
                        <div class="col-lg-3 col-xl-2 col-md-3">
                            <div class="text-md-right">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-border ttm-btn-color-darkgrey mb-40" href="{% url 'team' %}" title=""> Read More </a>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row -->
                    <div class="row">
                        <div class="team-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="false">
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Kingsley-Odume.jpg' %}" alt="KingsleyOdume">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="https://www.facebook.com/kodume" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="https://www.twitter.com/KingsleyOdume" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="https://www.linkedin.com/in/kingsleyodume-5464/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-kingsley' %}">Kingsley Odume</a></h5>
                                        </div>
                                        <p class="category">IT Service Officer/Programmer</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Agnes.jpg' %}" alt="Audu Agnes">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-ify' %}">Audu Agnes</a></h5>
                                        </div>
                                        <p class="category">Content Manager</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Timi Akande.jpg' %}" alt="Timi Akande">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-timi' %}">Timi Akande</a></h5>
                                        </div>
                                        <p class="category">Product/Business Analyst</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/team-img04.jpg' %}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="">Amanda Brown</a></h5>
                                        </div>
                                        <p class="category">Consultant Officer</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                        </div>
                    </div><!-- row end-->
                </div>
            </section>
            <!-- team-section end -->
            <!-- process-section end -->

        </div><!--site-main end-->

{% endblock content %}