{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>BluWire Animated Video Ads | Custom Video Products that Propel Your Brand</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/animated-video.png' %}" alt="video services">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Video Ads Services</h3>

                                <p>We offer a most convenient method to create a full-fledged video for your brand. You can make compelling white board videos or even the most impressive 2D and 3D videos for your companies without experiencing any hassle.</p>
                                <p>Being a leading video production company, we offer our valued customers a complete animation video for a better promotion of your brand</p>
                                <h4>Our Video Services</h4>
                                <h5>Boost Your Sales by 300%
                                With a Custom Animated Video For Your Business</h5>
                                <ul class="ttm-list ttm-list-style-icon">
                                    <li>1. 2D & 3D Animations</li>
                                    <li>2. Explainer Videos</li>
                                    <li>3. Whiteboard Animations</li>
                                    <li>4. Typography Animations</li>
                                    <li>5. Motion Graphics</li>
                                    <li>6. Startup videos</li>
                                </ul>
                                <br>
                                <h4>How It’s Made</h4>
                                <iframe width="700" height="300" src="https://www.youtube.com/embed/BYvKwW_gG94" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                <br>
                                <h4>Core Features</h4>
                                <ul class="ttm-list ttm-list-style-icon">
                                    <li>1. Unique Characters - We create unique characters that define your business and connect your audience.</li>
                                    <li>2. Flawless Animations - We design videos with perfection adding a creative flair to them.</li>
                                    <li>3. Proven Results - Our production guarantees potential outcomes as every video is strategically created</li>
                                    <li>4. Unmatched Prices - Affordability is at its peak at BluWire video design. Get your quote now!</li>
                                </ul>
                                <br>
                                <h4>Animation Video ROI</h4>
                                <p class="mb-35">Animations make your brand more engaging and interactive. This makes them great assets to share on social, distribute through email, feature internally and host on your website – they’re that versatile.</p>
                                <h5>Video Marketing Statistics Show Real ROI</h5>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <iframe width="320" height="400" src="https://www.youtube.com/embed/ys-bDVbx_DA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p class="mb-30 res-1199-mt-20">Video content is as easy to watch as it is to share on social media or embed in a landing page or blog post. It can be consumed across platforms – on desktop or on mobile devices, on Android and iOS, at work or at home. It can convey complex information in a visually compelling and highly entertaining format.</p>
                                                <ul class="ttm-list ttm-list-style-icon">
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">95% of businesses say video helps people better understand their offerings.</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">87% of marketers say video has helped them increase their traffic.</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">83% of marketers say video has contributed to lead generation.</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">More than 55% of consumers say they’ve watched video while shopping in-store.</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">95% of video marketers say they plan to maintain or increase their spend on video.</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">89% of marketers report positive video ROI.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="mt-35">Our Animated Video Production Process</h4>
                                <p>Your animations are customized to your audience and to your business needs. We start by examining your prospects and the language they speak.</p>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Discover</a>
                                        </div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">We find out about your message, objective, strategy, and brand.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Script</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">We take your message and boil it down to a story that can capture hearts and minds.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Design</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">We create a visual language that can bring that story to life.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Storyboard animatic</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">We match voice to picture so that they work together.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Animation</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">We bring the characters and other visual elements to life with animation.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Sound Design</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">We add music and sound effects to help the image land. The video is now ready to deliver!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                                        <h4 class="mt-35">Looking For Help with Animated Content?</h4>
                                <p>We offer a host of custom video products that propel your brand to the forefront of industry conversations.</p>
                                <div class="ttm-btn-box pr-20 pb-20">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Get Started<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>

                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="{% url 'it' %}">IT Consultancy</a></li>
                                <li class="active"><a href="{% url 'digital' %}">Digital Services</a></li>
                                <li><a href="{% url 'advisory' %}">Advisory Services</a></li>
                                <li><a href="{% url 'data' %}">Data Structuring</a></li>
                                <li><a href="{% url 'design' %}">Web Development</a></li>
                                <li><a href="{% url 'mobile' %}">Mobile App Development</a></li>
                                <li><a href="{% url 'training' %}">Corporate Training</a></li>
                                <li><a href="{% url 'content' %}">Content Engineering</a></li>
                                <li><a href="{% url 'boost' %}">Boost Your Business</a></li>
                                <li><a href="{% url 'cyber' %}">Cyber Security</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/author-img.jpg' %}" alt="author image">
                                </div>
                                <h4 class="author-name">BluWire-author</h4>
                                <p class="author-widget_text">	The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>
                            </div>
                        </aside>
<!--                        <aside class="widget widget-download">-->
<!--                            <h3 class="widget-title">Brouchers</h3>-->
<!--                            <ul class="download">-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-pdf-o"></i>-->
<!--                                    <a href="#" title="Download">Download.pdf</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-word-o"></i>-->
<!--                                    <a href="#" title="Download">Our ISO Certificate</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-files-o"></i>-->
<!--                                    <a href="#" title="Download">Download.txt</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </aside>-->
                        <br>
                        <br>
                        <br>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">Animated Web Demos</h3>
                            <iframe width="200" height="250" src="https://www.youtube.com/embed/3O7ez2fEQiQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">Whiteboard Animations</h3>
                            <iframe width="200" height="250" src="https://www.youtube.com/embed/5Ta-qzVagKg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">Explainer Videos</h3>
                             <iframe width="200" height="250" src="https://www.youtube.com/embed/5bnEFBD1XfU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </aside>
                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon-24-hours-support"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+234 0802 872 0549</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@bluwire-il.com">info@bluwire-il.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock content %}