{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Content Engineering | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/Content.png' %}" alt="Content Engineering">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Content Engineering</h3>
                                <p>Content engineering speciality dealing with the issues around the use of content in computer-facilitated environments. Content production, content management, content modelling, content conversion, and content use and repurposing are all areas involving this speciality. It is not a speciality with wide industry recognition and is often performed on an ad hoc basis by members of software development or content production staff, but is beginning to be recognized as a necessary function in any complex content-centric project involving both content production as well as software system development.</p>
                                <p>Content engineering tends to bridge the gap between groups involved in the production of content (Publishing and Editorial staff, Marketing, Sales, HR) and more technologically oriented departments such as Software Development, or IT that put this content to use in web or other software-based environments, and requires an understanding of the issues and processes of both sides.</p>
<!--                                <ul class="ttm-list ttm-list-style-icon">-->
<!--                                    <li class="ttm-list-li-content">1. advice on technology procurement</li>-->
<!--                                    <li>2. with implementation of best practices - designing security, backup and systems management processes</li>-->
<!--                                    <li>3. advice on architecture and management of ICT solutions</li>-->
<!--                                    <li>4. and project management services</li>-->
<!--                                    <li>5. on new technologies, including Google Apps and other cloud computing services</li>-->
<!--                                    <li>6. and support for enterprise Python-based technology</li>-->
<!--                                </ul>-->
                                <br>
                                <p class="mb-35">Our ICT services help businesses to leverage the latest technologies - from basic email and document sharing to cloud computing, provisioning processes, simple directory solutions, and backup and disaster recovery solutions.</p>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/Choose-Us.jpg' %}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p class="mb-30 res-1199-mt-20">There are many reasons, but let’s cut to the chase with the following - Some IT Companies offer combinations of these, but BluWire has mastered them all. Pay special attention to numbers 1 and 2, as they are difficult if not impossible to find with other IT firms.</p>
                                                <ul class="ttm-list ttm-list-style-icon">
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">No Hard Contracts - </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Money Back Guarantee IN WRITING</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Truly Local Support</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Unlimited Onsite Visits From Dedicated Technician </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Proactive Support and many more.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <h3 class="mt-35">Analyzing IT services</h3>-->
<!--                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>-->
<!--                                &lt;!&ndash; acadion &ndash;&gt;-->
<!--                                <div class="accordion style2 mt-20">-->
<!--                                    &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                    <div class="toggle">-->
<!--                                        <div class="toggle-title">-->
<!--                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >When do I need an Interior Designer?</a>-->
<!--                                        </div>-->
<!--                                        <div class="toggle-content">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-sm-12">-->
<!--                                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                    &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                    <div class="toggle">-->
<!--                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Why do you have a design fee and purchasing fee on the product?</a></div>-->
<!--                                        <div class="toggle-content">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-sm-12">-->
<!--                                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                    &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                    <div class="toggle">-->
<!--                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >What types of systems do you support?</a></div>-->
<!--                                        <div class="toggle-content">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-sm-12">-->
<!--                                                    <p class="mb-0">Praesentium voluptatum deleniti atque corrupti quos as excepturi sint occaecati cupiditate non provident, similique sunt in</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                </div>&lt;!&ndash; acadion end&ndash;&gt;-->
                            </div>
                            <h4 class="mt-35">Looking For Help in Content Engineering Services?</h4>
                                <p>We offer a host of mobile app development that propel your brand to the forefront of industry conversations.</p>
                                <div class="ttm-btn-box pr-20 pb-20">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Contact Us Today!<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="{% url 'it' %}">IT Consultancy</a></li>
                                <li><a href="{% url 'digital' %}">Digital Services</a></li>
                                <li><a href="{% url 'advisory' %}">Advisory Services</a></li>
                                <li><a href="{% url 'data' %}">Data Structuring</a></li>
                                <li><a href="{% url 'design' %}">Web Development</a></li>
                                <li><a href="{% url 'mobile' %}">Mobile App Development</a></li>
                                <li><a href="{% url 'training' %}">Corporate Training</a></li>
                                <li class="active"><a href="{% url 'content' %}">Content Engineering</a></li>
                                <li><a href="{% url 'boost' %}">Boost Your Business</a></li>
                                <li><a href="{% url 'cyber' %}">Cyber Security</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/author-img.jpg' %}" alt="author image">
                                </div>
                                <h4 class="author-name">BluWire-author</h4>
                                <p class="author-widget_text">	The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>
                            </div>
                        </aside>
<!--                        <aside class="widget widget-download">-->
<!--                            <h3 class="widget-title">Brouchers</h3>-->
<!--                            <ul class="download">-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-pdf-o"></i>-->
<!--                                    <a href="#" title="Download">Download.pdf</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-word-o"></i>-->
<!--                                    <a href="#" title="Download">Our ISO Certificate</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-files-o"></i>-->
<!--                                    <a href="#" title="Download">Download.txt</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </aside>-->
                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon-24-hours-support"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+1234567890</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@bluwire-il.com">info@bluwire-il.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock content %}