{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>BluWire Cyber Security  | Cyber Security | Cyber Investigation | Osint Intelligence | Information Security Company in  abuja Nigeria &#8211; Silex Secure is a leading Corporate &amp; Cyber Investigation Agency that blends Business and Internet Intelligence, with sophisticated investigative strategies in Nigeria</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/cyber.jpg' %}" alt="IT consultancy">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Cyber Security</h3>
                                <p><b>Explore the world of cyber security and develop the skills needed to stay safe</b></p>
                                <p>Modern life depends on online services, so having a better understanding of cyber security threats is vital. Cyber security is the application of technologies, processes and controls to protect systems, networks, programs, devices and data from cyber attacks. It aims to reduce the risk of cyber attacks and protect against the unauthorised exploitation of systems, networks and technologies.<br>A robust cyber security culture, reinforced by regular training, will ensure that every employee recognises that cyber security is their responsibility and defaults to security instinctively.</p>
                                <p>Cyber security is a critical business issue for every organisation.<br>A cyber security risk assessment is the process of identifying, analysing and evaluating risk. It helps to ensure that the cyber security controls you choose are appropriate to the risks your organisation faces.
                                    Without a risk assessment to inform your cyber security choices, you could waste time, effort and resources. There is little point implementing measures to defend against events that are unlikely to occur or won’t impact your organisation.</p>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Contact Us for Risk Assessment & Security of your business.<i class="fa fa-arrow-circle-right"></i></a>
                                <br>
                                <br>
                                <h3>BluWire Cyber Security Course</h3>
                                <p>The course will improve your online safety in the context of the wider world, introducing concepts like malware, trojan virus, network security, cryptography, identity theft, and risk management.</p>
                                <h4>Why is cyber security important?</h4>
                                <ul class="ttm-list ttm-list-style-icon">
                                    <li>1. The costs of cyber security breaches are rising</li>
                                    <li>2. Cyber attacks are increasingly sophisticated</li>
                                    <li>3. Cyber security is a critical, board-level issue</li>
                                    <li>4. Cyber crime is a big business</li>

                                </ul>
                                <br>
                                <p class="mb-35">Discover essential cyber security knowledge and skills, and learn how you can better protect your digital life.</p>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/9.jpeg' %}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p class="mb-30 res-1199-mt-20">We focus on your IT so you can focus on business of making you a professional. Proactive – Our service philosophy is proactive, not reactive. With state-of- the-art network monitoring and management, we manage your training 24/7 to identify issues and address them BEFORE they become problems, rather than putting out fires.</p>
                                                <ul class="ttm-list ttm-list-style-icon">
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">No Hard Contracts - </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Money Back Guarantee IN WRITING</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Truly Local Support</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Dedicated Trainer </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Proactive Support and many more.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="mt-35">What will you achieve?</h3>
                                <p>By the end of the course, you‘ll be able to...</p>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Cyber Security Terminology</a>
                                        </div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">Explain basic cyber security terminology; have skills for keeping up to date on cyber security issues; and be able to identify information assets.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Authentication Mechanisms</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">Describe basic authentication mechanisms; have skills to improve their password security; and be aware of alternative authentication methods.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Malware Propagation Methods</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">Identify main malware types; awareness of different malware propagation methods; and skills for preventing malware infections.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Cryptography Terminology</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">Describe cryptography terminology; be able to use cryptography for email; be aware of applications of cryptography.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Understanding Firewalls</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">Demonstrate understanding of firewalls, virtual private networks and network intrusion detection and prevention technologies.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Risk Analysis</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">Apply basic risk analysis and management techniques.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                               </div><!-- acadion end&ndash;&gt;-->
                                <h3 class="mt-35">Who is the course for?</h3>
                                <p>The course does not assume any prior knowledge of computer security and can be enjoyed by anyone interested in improving the security of their digital information, whether at home or at work.</p>
                                <div class="ttm-btn-box pr-20 pb-20">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Join Today<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="{% url 'it' %}">IT Consultancy</a></li>
                                <li><a href="{% url 'digital' %}">Digital Services</a></li>
                                <li><a href="{% url 'advisory' %}">Advisory Services</a></li>
                                <li><a href="{% url 'data' %}">Data Structuring</a></li>
                                <li><a href="{% url 'design' %}">Web Development</a></li>
                                <li><a href="{% url 'mobile' %}">Mobile App Development</a></li>
                                <li><a href="{% url 'training' %}">Corporate Training</a></li>
                                <li><a href="{% url 'content' %}">Content Engineering</a></li>
                                <li><a href="{% url 'boost' %}">Boost Your Business</a></li>
                                <li class="active"><a href="{% url 'cyber' %}">Cyber Security</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/author-img.jpg' %}" alt="author image">
                                </div>
                                <h4 class="author-name">BluWire-author</h4>
                                <p class="author-widget_text">	The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>
                            </div>
                        </aside>
<!--                        <aside class="widget widget-download">-->
<!--                            <h3 class="widget-title">Brouchers</h3>-->
<!--                            <ul class="download">-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-pdf-o"></i>-->
<!--                                    <a href="#" title="Download">Download.pdf</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-word-o"></i>-->
<!--                                    <a href="#" title="Download">Our ISO Certificate</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-files-o"></i>-->
<!--                                    <a href="#" title="Download">Download.txt</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </aside>-->
                        <aside class="widget widget-download">
                            <h3 class="widget-title">Our Training Partners</h3>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Silex Secure Lab">
                                    <img class="img-fluid" src="{% static 'images/client/silex.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="KingsleyOdume">
                                    <img class="img-fluid" src="{% static 'images/client/KingsleyOdume.png' %}" alt="image">
                                </div>
                            </div>
                        </aside>
                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon-24-hours-support"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+23408028720549</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@bluwire-il.com">info@bluwire-il.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock content %}