{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Mobile App Development | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/mobile-app.jpg' %}" alt="Mobile Development Services">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Mobile App Development</h3>
                                <p>BluWire creates mobile apps across a range of platforms that are custom built to specifically meet your precise requirements. BluWire adapts to latest tools and technologies for developing interesting mobile app across various industry verticals. We build applications for companies of all sizes; small, medium, and large industries with our extensive experience in handling different mobile platforms like iOS, Android, Windows etc.</p>
                                <p>Our team focuses towards developing world-class apps using proven methods. We deliver the projects on time at affordable pricing and impeccable quality. BluWire’s astute team of mobile app developers keeps its eyes open for the latest happenings in mobile apps world, which allows us to come up with innovative approaches while building any app; at the same time it also allows us to seamlessly and expertly adopt the use of the latest platforms for all our client projects. Our mobile app development services include developing apps for:</p>
                                <h4>Cross-platform Frameworks</h4>
                                <p>Smartphones and tablets are all over the map and mobile apps. Using cross-platform technologies allows you to develop mobile applications for multiple platforms in a cost-effective manner. Also, these applications use HTML5 based technologies along with CSS and JavaScript, while providing a high level of integration with native device APIs. The look-and-feel that they provide is also very close to that of the native toolset. BluWire provides cross-platform solutions and develop cross-platform applications for both iOS and Android. This makes development on different mobile platforms more easily accessible to the developer and reduces maintenance costs.</p>
                                <h4>Windows Mobile</h4>
                                <p>Windows mobile applications are strongly backed by the reliability of Microsoft and Windows Mobile operating system. BluWire has a team of expert and highly qualified Windows mobile application developers who are well-versed with the use of Windows Mobile Software Development Kits. Considering the fact that Windows power an unlimited range of smart phones these days, we feel greater responsibility while developing these applications. We focus on developing Windows mobile applications that appear to be familiar and easy to use for the users who have been using the platform for years on their desktops. At the same time, we wish to ensure that our clients are bestowed with applications that are productive and rewarding. Flexibility, compatibility and enhanced security are other aims of our services in the category.</p>
                                <!--                                <ul class="ttm-list ttm-list-style-icon">-->
<!--                                    <li>1. Python - Django/Flask Web Development</li>-->
<!--                                    <li>2. PHP Web Development</li>-->
<!--                                    <li>3. Website Design and Development</li>-->
<!--                                    <li>4. E-commerce development</li>-->
<!--                                    <li>5. Online discussion forums</li>-->
<!--                                    <li>6. Content Management Systems.</li>-->
<!--                                    <li>7. WordPress Web Development</li>-->
<!--                                    <li>8. Educational applications</li>-->
<!--                                </ul>-->
                                <br>
                                <p class="mb-35">The simple and robust applications developed by our team provide full satisfaction to our clients. We have been successfully serving our clients with uniquely designed applications that speak quality and creativity. Our range of services that vary from simple mobile apps to complex internet applications, social network services and e-Business applications makes sure that our clients get exactly what they expect.  You can trust us to develop the right application that suits your need with best customization option at most affordable cost to stand up to your requirements and propel your business to great heights.</p>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/9.jpeg' %}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p class="mb-30 res-1199-mt-20">We focus on your IT so you can focus on your business. Proactive – Our service philosophy is proactive, not reactive. With state-of- the-art network monitoring and management, we manage your network 24/7 to identify issues and address them BEFORE they become problems, rather than putting out fires.</p>
                                                <ul class="ttm-list ttm-list-style-icon">
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">No Hard Contracts - </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Money Back Guarantee IN WRITING</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Truly Local Support</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Unlimited Onsite Visits From Dedicated Technician </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Proactive Support and many more.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="mt-35">What did we leave out?</h3>
                                <p>We also don’t make any specific mention of digital. Our particular specialism within this field is around digital products and services so we use certain tools and techniques that are suitable for this context and the kinds of clients we have. But we understand that not every design problem starts or ends in the digital space.</p>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Iterative</a>
                                        </div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying and resolving design challenges through cycles of creativity and user research.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Collaborative</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">involving specialists from various design and non-design disciplines, as well as project stakeholders and end users, in the design process.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Measurable</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying both physical and emotional outcomes for the experience, and measuring success against these targets.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                            </div>
                            <h4 class="mt-35">Looking For Help in Mobile App Development?</h4>
                                <p>We offer a host of mobile app development that propel your brand to the forefront of industry conversations.</p>
                                <div class="ttm-btn-box pr-20 pb-20">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Contact Us Today!<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="{% url 'it' %}">IT Consultancy</a></li>
                                <li><a href="{% url 'digital' %}">Digital Services</a></li>
                                <li><a href="{% url 'advisory' %}">Advisory Services</a></li>
                                <li><a href="{% url 'data' %}">Data Structuring</a></li>
                                <li><a href="{% url 'design' %}">Web Development</a></li>
                                <li class="active"><a href="{% url 'mobile' %}">Mobile App Development</a></li>
                                <li><a href="{% url 'training' %}">Corporate Training</a></li>
                                <li><a href="{% url 'content' %}">Content Engineering</a></li>
                                <li><a href="{% url 'boost' %}">Boost Your Business</a></li>
                                <li><a href="{% url 'cyber' %}">Cyber Security</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/author-img.jpg' %}" alt="author image">
                                </div>
                                <h4 class="author-name">BluWire-author</h4>
                                <p class="author-widget_text">	The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>
                            </div>
                        </aside>
<!--                        <aside class="widget widget-download">-->
<!--                            <h3 class="widget-title">Brouchers</h3>-->
<!--                            <ul class="download">-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-pdf-o"></i>-->
<!--                                    <a href="#" title="Download">Download.pdf</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-word-o"></i>-->
<!--                                    <a href="#" title="Download">Our ISO Certificate</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-files-o"></i>-->
<!--                                    <a href="#" title="Download">Download.txt</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </aside>-->
                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon-24-hours-support"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+23408028720549</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@bluwire-il.com">info@bluwire-il.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock content %}