{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>BluWire IT Services | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/single.jpg' %}" alt="single-img-twelve">
                            </div>
                            <div class="ttm-service-description">
                                <h3>IT Expert System - IT Computer Training, and IT Services Provider</h3>
                                <p><b>IT Expert System</b> is a progressive, full service IT organization committed to providing effective, accurate, and quality Computer Training, IT Consultancy, and IT Services to our clients.</p>
                                <p>We offer a wide range of services to our global clients at competitive rates, delivering IT solutions on time and within budget. Our headquarters is located at 24 Igbani Street, Jabi, Abuja, Nigeria.</p>
                                <p><b>IT Computer Training -</b> We provide comprehensive training programs to satisfy our business/client needs. Each program consists with many courses or modules. However, the programs are not watertight compartments and many of our students choose a customized program by blending courses from different programs. </p>
                                <p><b>IT Services Provider -</b> We provide wide range of IT services:</p>
                                <ul>
                                    <li>1. Website design and development</li>
                                    <li>2. Software Development</li>
                                    <li>3. IT consultancy</li>
                                    <li>4. Application Performance Optimization</li>
                                    <li>5. Server Administration</li>
                                    <li>6. Application Migration</li>
                                    <li>7. Project Management</li>
                                    <li>8. Database Design</li>
                                    <li>9. Production support</li>
                                    <li>10. Technical Architecture</li>
                                </ul>
                                <div class="row no-gutters box-shadow mb-35">
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">

                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span class="data-appear-animation animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "15"
                                                    data-interval         = "2"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >5</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Years Experience</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">

                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span class="data-appear-animation animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "1490"
                                                    data-interval         = "20"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >4780</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">Happy Clients</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <!--ttm-fid-->
                                        <div class="ttm-fid inside ttm-fid-view-lefticon style2">
                                            <div class="ttm-fid-left">
                                                <div class="ttm-fid-icon-wrapper">

                                                </div>
                                            </div>
                                            <div class="ttm-fid-contents text-left">
                                                <h4 class="ttm-fid-inner">
                                                    <span class="data-appear-animation animateDigits"
                                                    data-from             = "0"
                                                    data-to               = "815"
                                                    data-interval         = "10"
                                                    data-before           = ""
                                                    data-before-style     = "sup"
                                                    data-after            = "+"
                                                    data-after-style      = "sub"
                                                >1008</span><span class="ml-5">+</span>
                                                </h4>
                                                <h3 class="ttm-fid-title">New Customers</h3>
                                            </div>
                                        </div><!-- ttm-fid end-->
                                    </div>
                                </div>
                                <p class="mb-35">We believe by partnering with our clients, we can provide them a competitive advantage in the marketplace.</p>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/single-img-thirteen.jpg' %}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p class="mb-30 res-1199-mt-20">Our service philosophy is proactive, not reactive. With state-of- the-art network monitoring and management, we manage your training 24/7 to identify issues and address them BEFORE they become problems, rather than putting out fires.</p>
                                                <ul class="ttm-list ttm-list-style-icon">
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">No Hard Contracts - </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Money Back Guarantee IN WRITING</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Truly Local Support</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Dedicated Trainer </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Proactive Support and many more.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="mt-35">Here are the reasons you can depend on BluWire to keep you and your business up and running:</h3>
                                <p>We ensure a smooth, successful experience our consultants can help you move effectively through every phase of the process lifecycle.</p>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Iterative</a>
                                        </div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying and resolving design challenges through cycles of creativity and user research.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Collaborative</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">involving specialists from various design and non-design disciplines, as well as project stakeholders and end users, in the design process.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Measurable</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying both physical and emotional outcomes for the experience, and measuring success against these targets.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                            </div>
                             <h4 class="mt-35">Looking For Help with Any ICT Services?</h4>
                                <p>We offer a host of products that propel your brand to the forefront of industry conversations.</p>
                                <div class="ttm-btn-box pr-20 pb-20">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Contact Us Today!<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li class="active"><a href="{% url 'it' %}">IT Consultancy</a></li>
                                <li><a href="{% url 'digital' %}">Digital Services</a></li>
                                <li><a href="{% url 'advisory' %}">Advisory Services</a></li>
                                <li><a href="{% url 'data' %}">Data Structuring</a></li>
                                <li><a href="{% url 'design' %}">Web Development</a></li>
                                <li><a href="{% url 'mobile' %}">Mobile App Development</a></li>
                                <li><a href="{% url 'training' %}">Corporate Training</a></li>
                                <li><a href="{% url 'content' %}">Content Engineering</a></li>
                                <li><a href="{% url 'boost' %}">Boost Your Business</a></li>
                                <li><a href="{% url 'cyber' %}">Cyber Security</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/author-img.jpg' %}" alt="author image">
                                </div>
                                <h4 class="author-name">BluWire-author</h4>
                                <p class="author-widget_text">The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>
                            </div>
                        </aside>

                        <aside class="widget widget-download">
                            <h3 class="widget-title">Our Partners</h3>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Silex Secure Lab">
                                    <img class="img-fluid" src="{% static 'images/client/silex.png' %}" alt="image">
                                </div>
                            </div><br>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="KingsleyOdume">
                                    <img class="img-fluid" src="{% static 'images/client/KingsleyOdume.png' %}" alt="image">
                                </div>
                            </div><br>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Google">
                                    <img class="img-fluid" src="{% static 'images/client/google.jpg' %}" alt="image">
                                </div>
                            </div><br>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Flutter Wave">
                                    <img class="img-fluid" src="{% static 'images/client/rave.jpg' %}" alt="image">
                                </div>
                            </div><br>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Paystack">
                                    <img class="img-fluid" src="{% static 'images/client/paystack.jpg' %}" alt="image">
                                </div>
                            </div><br>
                        </aside>

                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon-24-hours-support"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+23408028720549</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@bluwire-il.com">info@bluwire-il.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>

                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock content %}