{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Boost Your Business | How BluWire can Boost Your Business</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bg/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bg/font-awesome/css/font-awesome.min.css' %}" />

<script type="text/javascript" src="{% static 'bg/js1/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bg/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block content %}

<!-- DIRTY Responsive pricing table HTML -->


<div class="container">

<div class="page-header"  style="text-align:center;">
    <h2>BluWire: Social media marketing management services</h2>
    <p style="padding-left:50px; padding-right:50px;">No business is alike, which is why we offer custom social media management services. Whether you’re looking to market your business on one social media network or five, our team of award-winning strategists can build a plan tailored to your company.</p>
    <p>Learn more about our social media services, from what they include to what they cost, below:</p>
    <h4>Standard consultation and reporting plans (Monthly)</h4>
</div>

<!-- Pricing Table - START -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 theader free">
                        <div class="ptitle">1 Social Network</div>
    <!--                    <div class="pprice">$0 / month</div>-->
                        <a href="{% url 'main' %}" class="btn btn-lg btn-danger">Get Started</a>
                    </div>
                    <div class="col-xs-3 theader standard">
                        <div class="ptitle">2 Social Network</div>
    <!--                    <div class="pprice">$10 / month</div>-->
                        <a href="{% url 'main' %}" class="btn btn-lg btn-danger">Get Started</a>
                    </div>
                    <div class="col-xs-3 theader premium">
                        <div class="ptitle">3 Social Network</div>
    <!--                    <div class="pprice">$20 / month</div>-->
                        <a href="{% url 'main' %}" class="btn btn-lg btn-danger">Get Started</a>
                    </div>
                  <div class="col-xs-3 theader premium1">
                        <div class="ptitle">4 Social Network</div>
    <!--                    <div class="pprice">$20 / month</div>-->
                        <a href="{% url 'main' %}" class="btn btn-lg btn-danger">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Number of Posts per Month
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        Up to 15
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        Up to 25
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        Up to 35
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        Up to 45
                    </div>
                </div>
            </div>
        </div>
        <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Number of Custom Images per Month Included with Posts
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        6
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        8
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                       10
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        12
                    </div>
                </div>
            </div>
        </div>
        <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Number of Boosted Posts
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        Up to 2
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        Up to 4
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        Up to 6
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        Up to 8
                    </div>
                </div>
            </div>
        </div>
        <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Social Media Marketing Strategy
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Social Media Competitive Analysis
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Social Media Brand Reputation Analysis
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Dedicated Social Media Account Manager
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Daily Monitoring of Included Social Assets
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Monitoring of Boosted Post Comments
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        $100/month
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        Mon., Wed., Fri.
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        Daily
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        Daily
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Up to 1 personal social media consultations per month
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Network Setup & Optimization
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
      <div class="row feature">
            <div class="col-xs-12 col-sm-4 cfeature infos">
                Up to 1 personal social media consultations per month
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 ccfreature free">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature standard">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                    <div class="col-xs-3 col-sm-3 ccfreature premium">
                      <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                  <div class="col-xs-3 col-sm-3 ccfreature premium1">
                    <br>
                        <i class="fa fa-check iconok"></i>
                    </div>
                </div>
            </div>
        </div>
<br>
          <div style="text-align:center;">
                                 <div style="text-align:center;">
                                <h4>A note about our social media services</h4>
                                  <p>The Social Media Organic & Customer Service Full Management Plans include advertising management for boosted posts only to support a results-driven content marketing strategy on social media. The advertising does not include any other ads such as traffic ads, lead ads, shopping feed ads, marketplace ads, etc. All other ads other than boosted posts / sponsored content from organic content created or exceeds the maximum ad spend level require a full social media advertising campaign in addition to the content management campaign.</p>

                                <br>
                                <h5>If you have questions about our social media management services, call us at +2348028720549!</h5>
                                <br>
                                <h2>Where can I market my business on social media?</h2>
                                <p>With our social media services, your business can launch a campaign on the following platforms:</p>
                                   <ul>
                                     <li>Facebook</li>
                                     <li>Twitter</li>
                                     <li>Instagram</li>
                                     <li>Pinterest</li>
                                     <li>YouTube</li>
                                     <li>LinkedIn</li>
                                   </ul>
        </div>
<br>
              <br>
              If you need immediate assistance, call us at +2348028720549 to chat with a strategist now!
              <br>

              <div class="ttm-btn-box pr-20 pb-20">
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Contact us online<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
<br>
</div>
    </div>

<style>
    .btn {
        margin: 10px 0px;
    }

    .iconok {
        font-size: 27px;
        color: green;
    }

    .iconno {
        font-size: 27px;
        color: rgb(221, 41, 41);
    }

    .theader {
        text-align: center;
        color: #000;
    }

    .ptitle {
        font-size: 22px;
        font-weight: bold;
        margin: 7px;
    }

    .pprice {
        font-size: 17px;
        font-weight: bold;
        padding: 10px;
    }

    .occurance {
    }

    .cfeature {
        padding: 10px;
        font-weight: bold;
    }

    .feature {
        margin-bottom: 3px;
    }

    .infos {
        background: #CDD8C9;
    }

    .free {
        background: #DFF0D8;
    }

    .theader.free {
        background: #DFF0D8;
        border-bottom: 3px solid white;
    }

    .standard {
        background: #D9EDF7;
    }

    .theader.standard {
        background: #D9EDF7;
        border-bottom: 3px solid white;
    }


    .premium {
        background: #8DB9DF;
    }

    .theader.premium {
        background: #8DB9DF;
        border-bottom: 3px solid white;
    }
    .premium1 {
        background: #7CBADF;
    }

    .theader.premium1 {
        background: #7CBADF;
        border-bottom: 3px solid white;
    }

    .ccfreature {
        text-align: center;
        font-size: 2em;
    }
</style>

<!-- Pricing Table - END -->

</div>


{% endblock content %}