
{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Boost Your Business | How BluWire can Boost Your Business</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
<!--    <div class="site-main">-->
<!--        &lt;!&ndash; sidebar &ndash;&gt;-->
<!--        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; row &ndash;&gt;-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-9 content-area order-lg-2">-->
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
            <div class="demo10">
            <div class="container">
                <h4 class="py-4 text-center">Explore social media service plans</h4>
                <p style="color:#000;">We are social media management agency, offering competitive social media management services. With a custom social media marketing service plan, your business can start building brand awareness, as well as generating revenue from social media platforms like Facebook, LinkedIn, Instagram, and more.</p>
                <br>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Two Networks</h3>
                                <span class="price-value">
                                    <span class="currency">$</span> 200
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>10 social posts per month</li>
                                    <li>2 boosted posts</li>
                                    <li>6 custom images per month</li>
                                    <li>M, W, F boosted post comment monitoring</li>
                                    <li>$10 - $20 Booted Post AD Spend</li>
                                </ul>
<!--                                <a href="#" class="read">sign up</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Three Networks</h3>
                                <span class="price-value">
                                    <span class="currency">$</span> 280
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>15 social posts per month</li>
                                    <li>4 boosted posts</li>
                                    <li>10 custom images per month</li>
                                    <li>Daily boosted post comment monitoring</li>
                                    <li>$10 - $30 Booted Post AD Spend</li>
                                </ul>
<!--                                <a href="#" class="read">sign up</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Four Networks</h3>
                                <span class="price-value">
                                    <span class="currency">$</span> 350
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>20 social posts per month</li>
                                    <li>5 boosted posts</li>
                                    <li>12 custom images per month</li>
                                    <li>Daily boosted post comment monitoring</li>
                                    <li>$10 - $40 Booted Post AD Spend</li>

                                </ul>
<!--                                <a href="#" class="read">sign up</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Four Networks</h3>
                                <span class="price-value">
                                    <span class="currency">$</span> 400
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>25 social posts per month</li>
                                    <li>6 boosted posts</li>
                                    <li>18 custom images per month</li>
                                    <li>Daily boosted post comment monitoring</li>
                                    <li>$40 - $60 Booted Post AD Spend</li>

                                </ul>
<!--                                <a href="#" class="read">sign up</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div  style="text-align:center;">
                    <a href="{% url 'pricing' %}" style="display:inline-block;font-size:16px;color:#fff;text-transform:uppercase;background:#2D4A8A;border-radius:50px;padding:8px 25px;margin:30px 0;transition:all .3s ease 0s">See Full Deliverables</a>
                    <br>
                    <br>
                    <br>
                    <h4>Drive results with social media marketing services</h4>
                    <p style="color:#000000;">Almost 75% of people use social media when making a purchase decision. It’s a critical touchpoint for shoppers in the business-to-consumer (B2C) and business-to-business (B2B) industry, which is why companies invest in professional social media services.</p>
                    <p style="color:#000000;">With a client recommendation score that exceeds the industry average by 488 percent, BluWire is a trusted choice for social media marketing services. As your partner, we’ll help your business improve its brand awareness, customer loyalty, revenue, and more.</p>
                </div>
            </div>
        </div>

<!--                    </div>-->
<!--                </div>&lt;!&ndash; row end &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; sidebar end &ndash;&gt;-->
<!--    </div>&lt;!&ndash;site-main end&ndash;&gt;-->

{% endblock content %}