{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Privacy | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <br>
                    <br>
                <!-- row -->
                <div class="row">

                    <h2>Privacy Policy</h2>
                    <p>By using this website you consent to our privacy policy. BluWire Integrated Services takes your privacy seriously. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.</p>
                    <br>
                    <h4>The Information We Collect</h4>
                    <p>This notice applies to all information collected or submitted on the BluWire Integrated Services website. On some pages, you can order products and services, make requests, and register to receive materials. The types of personal information collected at these pages are:</p>
                    <ul>
                        <li>Name</li>
                        <li>Address</li>
                        <li>Email</li>
                        <li>Phone Number</li>
                    </ul>
                    <p>In addition to the above information collected we also utilize Google inc.'s "Invisible reCAPTCHA" service to ensure the security of our forms used on our site. This service works by collecting hardware and software information, such as device and application data and the results of integrity checks, and sending that data to Google for analysis.</p>
                    <br>
                    <h4>The Way We Use Information</h4>
                    <p>The information of yours gathered on this site through our various contact forms will only be used by BluWire Integrated Services to contact you regarding services offered by BluWire Integrated Services. At no time will your information be given to a third party except the information gathered for the Invisible reCAPTCHA mentioned above unless specifically requested by you or as required by law.</p>
                    <p>If at anytime you wish to no longer receive contact from BluWire Integrated Services or you would like to update any of your personal information with us, you may contact us via email at support@bluwire-il.com and we will immediately comply with your request.</p>
                    <br>
                    <h4>Our Commitment To Data Security</h4>
                    <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
                    <p>How You Can Access Or Correct Your Information</p>
                    <p>You can access all your personally identifiable information that we collect online and maintain by contacting us at:</p>
                    <p>via email at support@bluwire-il.com We use this method to better safeguard your information.</p>
                    <p>To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</p><br>

                    <p>If you have any questions regarding your personal information or about our privacy policy please feel free to call us at +234802 8720 549 or email us at support@bluwire-il.com .</p>
                    <p>Effective as of January 01, 2020</p>
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
            <br>
            <br>

{% endblock content %}