{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Software Development | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/software.jpg' %}" alt="Software">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Buy Software With Us!</h3>
                                <p><b>We Save your users' time.</b> We Ensure a painless installation process, documentation, top notch support, and a minimal learning curve for getting started using our application.</p>
                                <p><b>Focus on features for your demographic.</b>You will have an edge with business since time is highly monetized for entrepreneurs and enterprises. Build features for people who are likely to buy our product.</p>
                                <h4>We Have the following Software</h4>
                                <p>We have very great software that can handle most demanding task for you at a very affordable price.</p>
                                <ul>
                                    <li>1. School Portal System</li>
                                    <li>2. Inventory Management System</li>
                                    <li>3. Hospital Management System</li>
                                    <li>4. Hotel Management System</li>
                                    <li>   &nbsp;&nbsp;&nbsp;&nbsp;and so on ....</li>
                                </ul>
                                <br>
                                <h6>Our School Portal/Management System</h6>
                                <img class="img-fluid" src="{% static 'images/resp.png' %}" alt="School Management System">
                                <br>
                                <p>It makes managing educational system easy and efficient. It provide useful insights for students, teachers, administrators and parents and helps them make better and faster decisions. The system is very easy and intuitive to use. Anyone with basic skills of using a web email would find it easy to use.</p>
                                <br>

                                <h6>Inventory Management System</h6>
                                <img class="img-fluid" src="{% static 'images/inventory-manage.jpg' %}" alt="Inventory Software">
                                <br>
                                <p>Whether you're running a brick and mortar store, eCommence site, a supermarket, or a logistics company, an inventory management system is a must-have. It will give you insights into every aspect of your products, and in some cases, will help you better understand your customers too. Is a tool that allows you to track goods across your business's supply chain, it optimizes the entire spectrum spanning from order placement with your vendor to order delivery to your customer, mapping the complete journey of a product.</p>
                                <br>

                                <h6>Hospital Management System</h6>
                                <img class="img-fluid" src="{% static 'images/hospital-manage.jpg' %}" alt="Hospital Management System">
                                <br>
                                <p>The hospital management system is an integrated software that handles different directions of hospital workflow. It manages the smooth healthcare performance along with administrative, medical, financial control. That is a cornerstone for the successful operation of the healthcare facility. The system unify and simplify the work of healthcare professionals as well as their interactions with patients.
                                </p>
                                <br>

                                <h6>Hotel Management System</h6>
                                <img class="img-fluid" src="{% static 'images/hotel.png' %}" alt="Hotel Management System">
                                <br>
                                <p>Hotel Management Software is everything you need to improve your hospitality business processes. It has often becomes a great asset to the modern hospitality business. It basically handles reservations, analytical features, housekeeping, financial and customer relationship management. </p>

                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/Choose-Us.jpg' %}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p class="mb-30 res-1199-mt-20">Our service philosophy is proactive, not reactive. With state-of- the-art network monitoring and management, we manage your training 24/7 to identify issues and address them BEFORE they become problems, rather than putting out fires.</p>
                                                <ul class="ttm-list ttm-list-style-icon">
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">No Hard Contracts - </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Money Back Guarantee IN WRITING</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Truly Local Support</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Dedicated Trainer </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Proactive Support and many more.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="mt-35">Here are the reasons you can depend on BluWire to keep you and your business up and running:</h3>
                                <p>We ensure a smooth, successful experience our consultants can help you move effectively through every phase of the process lifecycle.</p>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Iterative</a>
                                        </div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying and resolving design challenges through cycles of creativity and user research.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Collaborative</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">involving specialists from various design and non-design disciplines, as well as project stakeholders and end users, in the design process.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Measurable</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying both physical and emotional outcomes for the experience, and measuring success against these targets.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                                <div class="ttm-btn-box pr-20 pb-20">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Contact Us Today!<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li class="active"><a href="{% url 'it' %}">IT Consultancy</a></li>
                                <li><a href="{% url 'digital' %}">Digital Services</a></li>
                                <li><a href="{% url 'advisory' %}">Advisory Services</a></li>
                                <li><a href="{% url 'data' %}">Data Structuring</a></li>
                                <li><a href="{% url 'design' %}">Web Development</a></li>
                                <li><a href="{% url 'mobile' %}">Mobile App Development</a></li>
                                <li><a href="{% url 'training' %}">Corporate Training</a></li>
                                <li><a href="{% url 'content' %}">Content Engineering</a></li>
                                <li><a href="{% url 'boost' %}">Boost Your Business</a></li>
                                <li><a href="{% url 'cyber' %}">Cyber Security</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/author-img.jpg' %}" alt="author image">
                                </div>
                                <h4 class="author-name">BluWire-author</h4>
                                <p class="author-widget_text">The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>
                            </div>
                        </aside>

                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon-24-hours-support"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i><a href="tel:+23408028720549">+23408028720549</a></li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@bluwire-il.com">info@bluwire-il.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                        <aside class="widget widget-text">
                            <h4 class="widget-title">School System</h4>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/resp.png' %}" alt="School">
                                </div>
<!--                                <h4 class="author-name">BluWire-author</h4>-->
<!--                                <p class="author-widget_text">The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>-->
                           </div>
                        </aside>
                        <aside class="widget widget-text">
                            <h4 class="widget-title">Inventory System</h4>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/inventory-manage.jpg' %}" alt="Inventory">
                                </div>
<!--                                <h4 class="author-name">BluWire-author</h4>-->
<!--                                <p class="author-widget_text">The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>-->
                           </div>
                        </aside>
                        <aside class="widget widget-text">
                            <h4 class="widget-title">Hospital Management</h4>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/hospital-manage.jpg' %}" alt="Hospital">
                                </div>
<!--                                <h4 class="author-name">BluWire-author</h4>-->
<!--                                <p class="author-widget_text">The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>-->
                           </div>
                        </aside>
                        <aside class="widget widget-text">
                            <h4 class="widget-title">Hotel Management</h4>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/hotel.png' %}" alt="Hotel">
                                </div>
<!--                                <h4 class="author-name">BluWire-author</h4>-->
<!--                                <p class="author-widget_text">The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>-->
                           </div>
                        </aside>
                        <aside class="widget widget-text">
                            <h4 class="widget-title">Software Dev</h4>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/software-development.jpg' %}" alt="Software-Dev">
                                </div>
<!--                                <h4 class="author-name">BluWire-author</h4>-->
<!--                                <p class="author-widget_text">The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>-->
                           </div>
                        </aside>
            </div>
                </div>
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock content %}