{% extends 'base.html' %}
{% load static %}
{% block title %}
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<title>How to Contact Us| BluWire | A Path to Solutions</title>

{% endblock %}

{% block content %}


<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>We received your request</strong> we'll be in touch shortly!.</p>
  <hr>
<!--  <p>-->
<!--    Having trouble? <a href="">Contact us</a>-->
<!--  </p>-->
  <br>
  <br>
  <p class="lead">
    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-bgcolor-skincolor" href="https://www.bluwire-il.com/" role="button">Continue to homepage</a>
  </p>
</div>
<!--      <center>-->
<!--      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">-->
<!--        ✓-->
<!--      </div>-->
<!--        <h1>Success</h1>-->
<!--        <p>We received your purchase request;<br/> we'll be in touch shortly!</p>-->
<!--      </center>-->

{% endblock content %}