{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>BluWire Team | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- element-row -->
            <section class="element-row element-style clearfix">
                <div class="container">
                    <div class="col-lg-12">
                        <!-- section-title -->
                            <div class="section-title style2 clearfix">
                                <div class="title-header">
                                    <h5>About us</h5>
                                    <h2 class="title">Meet our <span>Team</span></h2>
                                </div>
                                <div class="title-desc">The positive distinction within the World Inspiring of Success and Connections of People and Organizations.</div>
                            </div><!-- section-title end -->
                    </div>
                    <!-- row -->

                    <!-- row -->
                    <div class="row mt-40">
                        <div class="team-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="false">
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Kingsley-Odume.jpg' %}" alt="KingsleyOdume">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="https://www.facebook.com/kodume" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="https://www.twitter.com/KingsleyOdume" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="https://www.linkedin.com/in/kingsleyodume-5464/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-kingsley' %}">Kingsley Odume</a></h5>
                                        </div>
                                        <p class="category">IT Service Officer/Programmer</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Agnes.jpg' %}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="https://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-ify' %}">Audu Agnes</a></h5>
                                        </div>
                                        <p class="category">Content Manager</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Timi Akande.jpg' %}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-timi' %}">Timi Akande</a></h5>
                                        </div>
                                        <p class="category">Product/Business Analyst</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/team-img0.jpg' %}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-dan' %}">Onyemordi Daniel</a></h5>
                                        </div>
                                        <p class="category">Full Stack Developer</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                        </div>
                    </div><!-- row end-->
                     <div class="row mt-40">
                        <div class="team-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="false">
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/dan.jpg' %}" alt="Onyemordi Daniel">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-dan' %}">Onyemordi Daniel</a></h5>
                                        </div>
                                        <p class="category">Full Stack Developer</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Victor.jpg' %}" alt="Victor Ebin">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="https://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-victor' %}">Victor Ebin</a></h5>
                                        </div>
                                        <p class="category">Business Developer</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Ben-Williams.jpg' %}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-ben' %}">Ben Williams Ohikhokhai</a></h5>
                                        </div>
                                        <p class="category">Communication Manager</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->

                        </div>
                    </div><!-- row end-->
                    <div class="row mt-40">
                        <div class="team-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="false">
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Bode.jpg' %}" alt="Olatona Olabode">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-bode' %}">Olatona Olabode</a></h5>
                                        </div>
                                        <p class="category">Chartered Accountant</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/Adrar.jpg' %}" alt="Adrar">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="https://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-adrar' %}">Adrar </a></h5>
                                        </div>
                                        <p class="category">Managing Partner</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style2">
                                <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                    <img class="img-fluid" src="{% static 'images/team-member/team-img03.jpg' %}" alt="image">
                                    <div class="ttm-social-links-wrapper">
                                        <ul class="social-icons list-inline"><!-- social-icons -->
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-content box-shadow">
                                        <div class="featured-title"><!-- featured-title -->
                                            <h5><a href="{% url 'team-ben' %}">Ndeya Williams Ohikhokhai</a></h5>
                                        </div>
                                        <p class="category">Human Resource Manager</p><!-- category -->
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->

                        </div>
<!--                    </div>&lt;!&ndash; row end&ndash;&gt;-->
                </div>


            </section>
            <!-- element-row end -->

<br>
<br>
{% endblock content %}