{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--site-main start-->
        <div class="site-main">

            <!-- team-details-section -->
            <section>
                <div class="container">
                    <br>
                    <a href="{% url 'team' %}" class="tag-cloud-link"><b style="color:#2D4A8A;">Back to TeamPage</b></a>
                    <br>
                    <br>
                    <div class="row"><!-- row -->
                        <div class="col-lg-4">
                            <div class="ttm-featured-wrapper">
                                <div class="featured-thumbnail text-center">
                                    <img class="img-fluid" src="{% static 'images/team-member/KingsleyOdume.jpg' %}" alt="KingsleyOdume">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="ttm-team-member-content shadow-box res-991-mt-30">
                                <div class="ttm-team-member-single-list">
                                    <h2 class="ttm-team-member-single-title">Kingsley Odume</h2>
                                    <span class="ttm-team-member-single-position">Full Stack Developer</span>
                                    <p>To discover and facilitate solutions that will enable speedy and effective accomplishment of my organization’s corporate goals. </p>
                                    <p>When you are starting out in your programming career, it can be daunting and frustrating. Some days you feel out of your depth, unsure of how anyone could possibly write big complex applications. And then on other days, you wonder why you haven't been promoted to Senior Developer yet. You look at other more senior developers and think that you do basically the same work as they do.</p>
                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-25 mb-25"></div>
                                    </div>
                                    <!-- separator -->
                                    <div class="ttm-team-data">
                                        <div class="ttm-team-details-wrapper">
                                            <ul class="ttm-team-details-list clearfix">
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="fa fa-phone"></i> Phone :</div>
                                                    <div class="ttm-team-list-value"><a href="tel:+1800200145" tabindex="0">+2348028720549</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="fas fa-envelope"></i> Email :</div>
                                                    <div class="ttm-team-list-value"><a href="mailto:kingsley@bluwire-il.com">kingsley@bluwire-il.com</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="fas fa-globe"></i> Website :</div>
                                                    <div class="ttm-team-list-value"><a target="_blank" href="https://www.kingsleyodume.com" target="_blank">https://www.kingsleyodume.com/</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="fas fa-clock"></i> Experience :</div>
                                                    <div class="ttm-team-list-value">9 Years</div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="far fa-calendar-alt"></i> Since :</div>
                                                    <div class="ttm-team-list-value">2012</div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="fas fa-map-marker"></i> Address Info :</div>
                                                    <div class="ttm-team-list-value">Federal Low-cost Housing Estate, Kuje, Abuja</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-15 mb-25"></div>
                                    </div>
                                    <!-- separator -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <div class="row"><!-- row -->
                        <div class="col-md-6">
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="90%">
                                <div class="progress-bar-title">Web Development</div><!-- progress-bar-title -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                            </div>
                            <!-- progress-bar END -->
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="80%">
                                <div class="progress-bar-title">App Development</div><!-- progress-bar-TITLE -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="80">90%</div><!-- progress-bar-PERCENT -->
                            </div>
                            <!-- progress-bar END -->
                        </div>
                        <div class="col-md-6">
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="90%">
                                <div class="progress-bar-title">UI/UX Design</div><!-- progress-bar-title -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="90">80%</div><!-- progress-bar-percent -->
                            </div>
                            <!-- progress-bar END -->
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="80%">
                                <div class="progress-bar-title">Software Development</div><!-- progress-bar-TITLE -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                            </div>
                            <!-- progress-bar END -->
                        </div>
                    </div>
                    <!-- row end -->
                    <div class="row mt-40">
                        <div class="col-12">
                            <h4>Career Guidelines</h4>
                            <p class="mb-40">Prior to joining BluWire, he spent 5+ years at FedEx Redstar Express, 3+ years in Access Bank where Everything about becoming a Programmer started he held a wide range of roles, from services to products, and across operations. Most recently, he was Senior Developer @ Silex Secure Lab &amp; Global Head of the training section, as well as a board member of their software subsidiary. He is also a very gentleman and history buff. You can always find him close to his computer except doing other things even late at night after fellowship with God.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Contact Me</h4>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="member-info-box border mb-30">
                                        <div class="timing-box">
                                            <i class="flaticon-24-hours"></i>
                                            <h5>&nbsp;&nbsp;&nbsp;Working Time</h5>
                                        </div>
                                        <ul class="timing-list">
                                            <li>
                                                <span class="day">Monday - Friday :</span>
                                                <span class="time">9.00 - 17.00</span>
                                            </li>
                                            <li>
                                                <span class="day">Saturday :</span>
                                                <span class="time">10.00 - 16.00</span>
                                            </li>
                                            <li>
                                                <span class="day">Sunday :</span>
                                                <span class="time">14.00 - 17.00</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="member-info-box border">
                                        <div class="timing-box">
                                            <i class="flaticon-earth-grid"></i>
                                            <h5>&nbsp;&nbsp;&nbsp;General Information</h5>
                                        </div>
                                        <ul class="info-list">
                                            <li>
                                                <i class="fas fa-map-marker"></i>
                                                <span>Federal Low-cost Housing Estate, Kuje, Abuja</span>
                                            </li>
                                            <li>
                                                <i class="fas fa-mobile"></i>
                                                <span>(+234) 08028 272 0549</span>
                                            </li>
                                            <li>
                                                <i class="fas fa-envelope"></i>
                                                <span>kingsley@bluwire-il.com</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="member-contact-form border res-991-mt-30">
                                        <form id="ttm-quote-form" class="row ttm-quote-form clearfix was-validated" method="post" >
                                            {% csrf_token %}
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                   <input name="name" type="text" class="form-control bg-white" style="border-radius:25px;"  placeholder="Full Name*" required="required">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="phone" type="text" style="border-radius:25px;" placeholder="Phone Number*" required="required" class="form-control bg-white">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                  <input name="email" type="text" style="border-radius:25px;" placeholder="Email Address*" required="required" class="form-control bg-white ">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                   <input name="subject" type="text" style="border-radius:25px;" placeholder="Subject" required="required" class="form-control bg-white">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                 <textarea name="message" rows="5" style="border-radius:25px;" placeholder="Write A Massage..." required="required" class="form-control bg-white"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="text-left">
                                                    <button type="submit" id="submit" class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-bgcolor-skincolor" value="">
                                                        Book An Appointment
                                                    </button>
                                                    {% for message in messages %}
                                                        {{ message }}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team-details-section end -->

        </div><!--site-main end-->
<br>
<br>

{% endblock content %}