{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--site-main start-->
        <div class="site-main">

            <!-- team-details-section -->
            <section class="ttm-row team-details-section clearfix">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-4">
                            <div class="ttm-featured-wrapper">
                                <div class="featured-thumbnail text-center">
                                    <img class="img-fluid" src="images/team-member/team-img01.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="ttm-team-member-content shadow-box res-991-mt-30">
                                <div class="ttm-team-member-single-list">
                                    <h2 class="ttm-team-member-single-title">Michal Holway</h2>
                                    <span class="ttm-team-member-single-position">Web Designer</span>
                                    <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.                 </p>
                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-25 mb-25"></div>
                                    </div>
                                    <!-- separator -->
                                    <div class="ttm-team-data">
                                        <div class="ttm-team-details-wrapper">
                                            <ul class="ttm-team-details-list clearfix">
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="fa fa-phone"></i> Phone :</div>
                                                    <div class="ttm-team-list-value"><a href="tel:+1800200145" tabindex="0">+1800200145</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-email"></i> Email :</div>
                                                    <div class="ttm-team-list-value"><a href="mailto:info@example.com">info@example.com</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-world"></i> Website :</div>
                                                    <div class="ttm-team-list-value"><a target="_blank" href="../../../www.themetechmount.com/index.html">https://www.themetechmount.com/</a></div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-time"></i> Experience :</div>
                                                    <div class="ttm-team-list-value">6 Years</div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-calendar"></i> Since :</div>
                                                    <div class="ttm-team-list-value">2012</div>
                                                </li>
                                                <li>
                                                    <div class="ttm-team-list-title"><i class="ti ti-location-pin"></i> Address Info :</div>
                                                    <div class="ttm-team-list-value">Los Angeles, USA, Los Angeles, USA</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- separator -->
                                    <div class="separator">
                                        <div class="sep-line mt-15 mb-25"></div>
                                    </div>
                                    <!-- separator -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <div class="row"><!-- row -->
                        <div class="col-md-6">
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="90%">
                                <div class="progress-bar-title">UI/UX Design</div><!-- progress-bar-title -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                            </div>
                            <!-- progress-bar END -->
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="80%">
                                <div class="progress-bar-title">App Development</div><!-- progress-bar-TITLE -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                            </div>
                            <!-- progress-bar END -->
                        </div>
                        <div class="col-md-6">
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="90%">
                                <div class="progress-bar-title">UI/UX Design</div><!-- progress-bar-title -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="90">90%</div><!-- progress-bar-percent -->
                            </div>
                            <!-- progress-bar END -->
                            <!-- progress-bar -->
                            <div class="ttm-progress-bar" data-percent="80%">
                                <div class="progress-bar-title">App Development</div><!-- progress-bar-TITLE -->
                                <div class="progress-bar-inner">
                                    <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                </div>
                                <div class="progress-bar-percent" data-percentage="80">80%</div><!-- progress-bar-PERCENT -->
                            </div>
                            <!-- progress-bar END -->
                        </div>
                    </div>
                    <!-- row end -->
                    <div class="row mt-40">
                        <div class="col-12">
                            <h4>Career Guidelines</h4>
                            <p class="mb-40">Prior to joining Integrio, he spent 20+ years at Inmosys, where he held a wide range of global leadership roles, from services to products, and across operations and sales. Most recently, he was SVP &amp; Global Head of the Manufacturing business, as well as a board member of their software subsidiary. He is also an avid cook and history buff. You can find him dining late at night with the chefs of the hotels where he stays during his travels, or reading in his home library.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Contact Me</h4>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="member-info-box border mb-30">
                                        <div class="timing-box">
                                            <i class="ti ti-time"></i>
                                            <h5>Working Time</h5>
                                        </div>
                                        <ul class="timing-list">
                                            <li>
                                                <span class="day">Monday - Friday :</span>
                                                <span class="time">8.00 - 10.00</span>
                                            </li>
                                            <li>
                                                <span class="day">Saturday :</span>
                                                <span class="time">8.00 - 10.00</span>
                                            </li>
                                            <li>
                                                <span class="day">Sunday :</span>
                                                <span class="time">8.00 - 10.00</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="member-info-box border">
                                        <div class="timing-box">
                                            <i class="flaticon flaticon-developer"></i>
                                            <h5>General Information</h5>
                                        </div>
                                        <ul class="info-list">
                                            <li>
                                                <i class="ti ti-location-pin"></i>
                                                <span>Los Angeles, USA, Los Angeles, USA</span>
                                            </li>
                                            <li>
                                                <i class="ti ti-mobile"></i>
                                                <span>(+01) 123 456 7890</span>
                                            </li>
                                            <li>
                                                <i class="ti ti-comment"></i>
                                                <span>info@example.com</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="member-contact-form border res-991-mt-30">
                                        <form id="ttm-quote-form" class="row ttm-quote-form clearfix was-validated" method="post" >
                                    {% csrf_token %}
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                           <input name="name" type="text" class="form-control bg-white" style="border-radius:25px;"  placeholder="Full Name*" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input name="phone" type="text" style="border-radius:25px;" placeholder="Phone Number*" required="required" class="form-control bg-white">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                          <input name="email" type="text" style="border-radius:25px;" placeholder="Email Address*" required="required" class="form-control bg-white ">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                           <input name="subject" type="text" style="border-radius:25px;" placeholder="Subject" required="required" class="form-control bg-white">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                         <textarea name="message" rows="5" style="border-radius:25px;" placeholder="Write A Massage..." required="required" class="form-control bg-white"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-left">
                                            <button type="submit" id="submit" class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-bgcolor-skincolor" value="">
                                                Book An Appointment
                                            </button>
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team-details-section end -->

        </div><!--site-main end-->


{% endblock content %}