{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>BluWire Terms & Condition | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <br>
                    <br>
                <!-- row -->
                <div class="row">

                    <h2>Terms & Conditions</h2>
                    <p>Welcome to bluwire-il.com. The bluwire-il.com website (the "Site") is comprised of various web pages operated by BluWire ("BluWire Integrated Services"). Your use and any purchase made through bluwire-il.com is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). Your use and any purchase made through bluwire-il.com constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.</p>
                    <p>BluWire Integrated Services, is a service provider based in Abuja, FCT, Nigeria. We are not affiliated with any email provider or computer manufacturer, unless explicitly stated. We do provide information technology services for desktop, laptop, tablets and mobile phones, including computer security and support services for home and all sized of  business.</p>
                    <br>
                    <h4>Electronic Communications</h4>
                    <p>Visiting bluwire-il.com or sending emails to BluWire Integrated Services constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.</p>
                    <p>BluWire Integrated Services does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under 18, you may use bluwire-il.com only with permission of a parent or guardian</p>
                    <br>
                    <h4>Links to third party sites/Third party services</h4>
                    <p>www.bluwire-il.com may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of BluWire Integrated Services and is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. BluWire Integrated Services is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by BluWire Integrated Services of the site or any association with its operators.</p>
                    <p>Certain services made available via www.bluwire-il.com/ are delivered by third party sites and organizations. By using any product, service or functionality originating from BluWire, you hereby acknowledge and consent that BluWire Integrated Services may share such information and data with any third party and has a contractual relationship to provide the requested product, service or functionality on behalf of www.bluwire-il.com users and customers.</p>
                    <br>
                    <h4>International Users</h4>
                    <p>The Service is controlled, operated and administered by BluWire from our offices within Abuja, Nigeria. If you access the Service from a location outside Nigeria, you are responsible for compliance with all local laws. You agree that you will not use BluWire Content accessed through www.bluwire-il.com in any country or in any manner prohibited by any applicable laws, restrictions or regulations.</p>
                    <br>
                    <h4>Changes to Terms</h4>
                    <p>BluWire Integrated Services reserves the right, in its sole discretion, to change the Terms under which index.html is offered. The most current version of the Terms will supersede all previous versions. BluWire Integrated Services encourages you to periodically review the Terms to stay informed of our updates.</p>
                    <p>Effective as of January 01, 2020</p>
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->
            <br>
            <br>

{% endblock content %}