{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>BluWire Corporate Training | A Path to Solutions</title>
{% endblock %}
{% block content %}

<!-- page-title -->
<!--        <div class="ttm-page-title-row">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <div class="title-box text-center">-->
<!--                            <div class="page-title-heading">-->
<!--                                <h1 class="title"> IT Consultancy</h1>-->
<!--                            </div>&lt;!&ndash; /.page-title-captions &ndash;&gt;-->
<!--                            <div class="breadcrumb-wrapper">-->
<!--                                <span>-->
<!--                                    <a title="Homepage" href="index.html"><i class="ti ti-home"></i>&nbsp;&nbsp;Home</a>-->
<!--                                </span>-->
<!--                                <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>-->
<!--                                <span> IT-Consultancy</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </div>&lt;!&ndash; page-title end&ndash;&gt;-->

        <!--site-main start-->
        <div class="site-main">
        <!-- sidebar -->
        <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-9 content-area order-lg-2">
                        <!-- ttm-service-single-content-are -->
                        <!-- ttm-service-single-content-are -->
                        <div class="ttm-service-single-content-area">
                            <div class="ttm_single_image-wrapper mb-35">
                                <img class="img-fluid" src="{% static 'images/training.png' %}" alt="BluWire Corporate Training">
                            </div>
                            <div class="ttm-service-description">
                                <h3>Corporate Training</h3>
                                <p>Even perfect technologies and processes lose value unless employees are prepared to deliver consistently and completely.  Employee training programs must address a client’s business objectives and solve business problems.</p>
                                <p>In BluWire, we have extensive experience building well-organized and actionable training programs for companies.  Whether you need training support for a major change effort, an employee development initiative, or just to enhance your current training programs, we know how to break down even the most complex ideas in ways that make them easy for people to understand.</p>
                                <p>Our training program is aimed at developing a community of certified professionals, and providing organizations with the opportunity to ensure their staff are fully trained and proficient in the implementation of ICT products. Whether you prefer the flexibility of self-paced online training, or the structure and interaction of an instructor-led classroom course, there’s an option to suit you.</p>
                                <h4>BluWire Corporate Training Service:</h4>
                                <ul class="ttm-list ttm-list-style-icon">
                                    <li>1. Build custom content for your company in addition to our off-the-shelf courses.</li>
                                    <li>2. We can help you train new hires and conduct specialized IT training.</li>
                                    <li>3. Our training experts teach your training leaders how to transform employees so their success continues beyond the classroom.</li>
                                </ul>
                                <br>
                                <p class="mb-35">Online training is not for everyone and we appreciate that some people prefer the structure and interaction offered in a conventional classroom environment. We still run face-to-face classroom training enabling you to cover the same material in one concise course and under the expert guidance of one of our knowledgeable trainers.</p>
                                  <div class="ttm_single_image-wrapper mb-35">
                                    <img class="img-fluid" src="{% static 'images/ict-training.jpg' %}" alt="BluWire Training">
                                </div>
                                <h3>Training for Corporate/Schools Includes:</h3>
                                <h5>Computing Essentials - </h5><p><b>1.</b> They will learn basic computing essentials.
                                <b>2.</b> They will study the fundamentals of computers and their functionality.
                                <b> 3.</b> They will learn about hardware, software and computer networking.</p>
                                <h5>CyberSecurity Essentials</h5><p><b>1.</b> They will learn the fundamentals of personal Online security and safety.
                                <b>2.</b> They will study the challenges and solutions of cybersecurity, including Internet and social media safety, cyber-ethics, and copyright issues.
                                <b>3.</b> They will explore threats to computers systems and ways to secure their computer.</p>
                                <h5>Programming & Logic Essentials</h5><p><b>1.</b> They will learn fundamental programming concepts.
                                <b>2.</b> They will study binary numbers, programming languages and ways to structure a program.
                                <b>3.</b> They will explore problem-solving strategies, and learn about algorithms and programming errors.
                                <b>4.</b> They will be introduced to structured programming, and they will work with variables and operators.</p>
                                <h5>Communications Essentials</h5><p><b>1.</b> They will learn communications essentials.
                                <b>2.</b> They will learn the fundamentals of effective communications in a technological society.
                                <b>3.</b> They will explore basic network functions and Internet connections.
                                <b>4.</b> They will learn strategies for creating effective website content and will study the tools, practices, and etiquette needed for communicating effectively with e-mail.</p>
                                <h5>Database Essentials</h5><p><b>1. </b>They will learn the fundamentals of using relational databases.
                                <b>2.</b> They will explore common database components including tables, record and field structures, and data types.
                                <b>3.</b> They will study the basics of Structured Query Language (SQL) statements for managing and manipulating data.</p>
                                <h5>Spreadsheet Essentials</h5><p><b>1.</b> They will learn the fundamentals of creating and using spreadsheets.
                                <b>2.</b> They will study how to insert, format, copy, and move cell data, and format columns and rows.
                                <b>3.</b> They will learn how to create tables and charts, and how to modify chart elements according to the spreadsheet data.
                                <b>4.</b> They will be introduced to functions, formulas, and conditional formatting.</p>
                                <h5>Word Process Essentials</h5><p><b>1.</b> They will learn the fundamentals of using common word-processing application software.
                                <b>2.</b> They will study how to use the application to create new documents, and to add and edit content.
                                <b>3.</b> They will use application tools to design a document's look-and-feel by manipulating page layout, fonts, styles, and images.
                                <b>4.</b> They will learn how to create text structures that make content easier to read and understand, including tables, and bulleted and numbered lists.
                                <b>5.</b> They will learn to collaborate on word-processing projects by editing and sharing documents.</p>
                                <h5>Multimedia Essentials</h5><p> <b>1.</b>They will learn fundamental multimedia skills, including how to use presentation software, graphics software, and other digital and multimedia tools.
                                <b>2.</b> They will create a slide presentation with titles, text, and images.
                                <b>3.</b> They will learn how to use transitions, animation, and sound in the presentation.
                                <b>4.</b> They will study graphics topics including vector and bitmap images, file formats, and terms related to the creation of graphical images.
                                <b>5.</b> They will learn how to use graphics software tools to create, enhance, and modify and images.
                                <b>6.</b> They will create a multimedia presentation that incorporates edited video, animation and sound, that demonstrates good design, smooth transitions, and effective message delivery.</p>
                                <h5>Web Design Essentials</h5><p><b>1.</b> They will learn the fundamentals of designing websites.
                                <b>2.</b> They will study how to identify elements of a web page, and will evaluate the aesthetics and functionality of websites.
                                <b>3.</b> They will explore the steps in the web design process, such as determining website purpose, goals, and target audience, and planning the site content, structure and navigation.
                                <b>4. </b>They will also explore web authoring tools.
                                <b>5. </b>They will be introduced to the technical aspects of the Internet and the World Wide Web.
                                <b>6. </b>They will build a website using a GUI web editor, and they will create web pages that include audio, video, and animation.
                                <b>7. </b>They will learn how to prepare their websites for publishing.
                                <b>8. </b>They will learn about web hosting services, domain names, uploading files, implementation issues (bandwidth, compression, streaming) and collaboration tools (wikis, blogs).</p>
                                <p>These also apply to <b>Mobile App Design Essentials</b> and <b>Software Essentials.</b></p>
                                <h3>BluWire Hands 0n School Training </h3>
                                <p class="mb-35">BluWire coding classes for schools are a unique opportunity for students ages 08-55 to gain skills in web design, web development, graphic design, mobile app development or video editing. Each multi-week program consists of hands-on, project-based computer courses led by professional instructors. Learn skills such as Python, Javascript, PHP, HTML and CSS. Small class sizes provide a focused, encouraging learning environment for students of all skill levels. Class sizes range from 8 to 24 total, and the maximum student-to-teacher ratio is 8:1.</p>
                                <p class="mb-35">Each coding course for schools takes place from 10 am to 1 pm, and runs for two full weeks, from Monday through Friday. Students will need their own computer and access to an Internet connection. Each course combines learning from an instructor, completing hands-on exercises, collaboration with classmates, and working on individual projects. There is <b><mark>Certification after completing</mark></b> each registered course</p>
                                <div class="ttm_single_image-wrapper mb-35">
                                    <img class="img-fluid" src="{% static 'images/BluWire-Hands-on-Training.jpg' %}" alt="BluWire Hands on Training">
                                </div>
                                <h3>Why Choose Us?</h3>
                                <div class="row m-0 mt-35">
                                    <div class="col-lg-12">
                                        <div class="row box-shadow spacing-11">
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'images/9.jpeg' %}" alt="single-img-thirteen">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-12 col-xl-6">
                                                <p class="mb-30 res-1199-mt-20">We focus on your IT so you can focus on business of making you a professional. Proactive – Our service philosophy is proactive, not reactive. With state-of- the-art network monitoring and management, we manage your training 24/7 to identify issues and address them BEFORE they become problems, rather than putting out fires.</p>
                                                <ul class="ttm-list ttm-list-style-icon">
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">No Hard Contracts - </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Money Back Guarantee IN WRITING</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Truly Local Support</span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Dedicated Trainer </span></li>
                                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Proactive Support and many more.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="mt-35">What will you achieve?</h3>
                                <p>By the end of each course, you‘ll be able to...</p>
                                <!-- acadion -->
                                <div class="accordion style2 mt-20">
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Iterative</a>
                                        </div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying and resolving design challenges through cycles of creativity and user research.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >Collaborative</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">involving specialists from various design and non-design disciplines, as well as project stakeholders and end users, in the design process.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle">
                                        <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >Measurable</a></div>
                                        <div class="toggle-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="mb-0">identifying both physical and emotional outcomes for the experience, and measuring success against these targets.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- toggle end -->
                                </div><!-- acadion end-->
                                <h3 class="mt-35">Who is this training for?</h3>
                                <p>The training does not assume any prior knowledge of computer and can be enjoyed by anyone interested in improving in their digital information, whether at home, school or at work.</p>
                                <div class="ttm-btn-box pr-20 pb-20">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-icon-btn-right ttm-btn-bgcolor-skincolor" href="{% url 'contact' %}" title="">Join Today<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                            </div>
                        </div>
                        <!-- ttm-service-single-content-are end -->
                    </div>
                    <div class="col-lg-3 widget-area">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li><a href="{% url 'it' %}">IT Consultancy</a></li>
                                <li><a href="{% url 'digital' %}">Digital Services</a></li>
                                <li><a href="{% url 'advisory' %}">Advisory Services</a></li>
                                <li><a href="{% url 'data' %}">Data Structuring</a></li>
                                <li><a href="{% url 'design' %}">Web Development</a></li>
                                <li><a href="{% url 'mobile' %}">Mobile App Development</a></li>
                                <li class="active"><a href="{% url 'training' %}">Corporate Training</a></li>
                                <li><a href="{% url 'content' %}">Content Engineering</a></li>
                                <li><a href="{% url 'boost' %}">Boost Your Business</a></li>
                                <li><a href="{% url 'cyber' %}">Cyber Security</a></li>
                            </ul>
                        </aside>
                        <aside class="widget widget-text">
                            <h3 class="widget-title">About Us</h3>
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img img-fluid" src="{% static 'images/author-img.jpg' %}" alt="author image">
                                </div>
                                <h4 class="author-name">BluWire-author</h4>
                                <p class="author-widget_text">	The positive distinction within the World Inspiring of Success and Connections of People and Organizations. We Are Here To Help Make Your Technology Safe And Easy To Use.</p>
                            </div>
                        </aside>
<!--                        <aside class="widget widget-download">-->
<!--                            <h3 class="widget-title">Brouchers</h3>-->
<!--                            <ul class="download">-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-pdf-o"></i>-->
<!--                                    <a href="#" title="Download">Download.pdf</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-file-word-o"></i>-->
<!--                                    <a href="#" title="Download">Our ISO Certificate</a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class="fa fa-files-o"></i>-->
<!--                                    <a href="#" title="Download">Download.txt</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </aside>-->
                        <aside class="widget widget-download">
                            <h3 class="widget-title">Our Training Partners</h3>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Silex Secure Lab">
                                    <img class="img-fluid" src="{% static 'images/client/silex.png' %}" alt="image">
                                </div>
                            </div><br>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="KingsleyOdume">
                                    <img class="img-fluid" src="{% static 'images/client/KingsleyOdume.png' %}" alt="image">
                                </div>
                            </div><br>
                            <div class="client">
                                <div class="ttm-client-logo-tooltip" data-tooltip="Google">
                                    <img class="img-fluid" src="{% static 'images/client/google.jpg' %}" alt="image">
                                </div>
                            </div>
                        </aside>
                        <aside class="widget widget-download">
                            <h3 class="widget-title">Courses</h3>
                            <div class="client">
<!--                                <div class="author-widget_img">-->
<!--                                    <img class="author-img img-fluid" src="{% static 'images/computing.png' %}" alt="author image">-->
<!--                                </div>-->
                                <ul class="ttm-list ttm-list-style-icon">
                                    <img class="author-img img-fluid" src="{% static 'images/computing.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Computing Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/cybersecurity.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">CyberSecurity Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/programming.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Programming & Logic Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/communications.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Communications Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/database.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Database Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/spreadsheet.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Spreadsheet Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/word.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Word Process Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/multimedia.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Multimedia Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/web-dev.png' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Web Design Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/software.jpg' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Software Essentials</span></li>
                                    <img class="author-img img-fluid" src="{% static 'images/mobile-app.jpg' %}" alt="author image">
                                    <li><i class="fa fa-check-circle ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Mobile App Design Essentials</span></li>
                                </ul>

                            </div>
                        </aside>
                        <aside class="widget widget_media_image">
                            <div class="banner-img-box ttm-textcolor-white text-left">
                                <div class="featured-content featured-content-banner">
                                    <i class="flaticon-24-hours-support"></i>
                                    <div class="featured-title ttm-box-title">
                                        <h5>How Can We Help?</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>If you need any help, please<br> feel free to contact us.</p>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>+234 0802 872 0549</li>
                                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@bluwire-il.com">info@bluwire-il.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!-- sidebar end -->
    </div><!--site-main end-->

{% endblock content %}